@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.nolla > * {
  font-family: "Montserrat", sans-serif;
}

.nolla br {
  display: block;
  content: "";
  margin-top: 16px;
}

.nolla a {
  color: #DC2A8A;
}

.nolla a:visited {
  color: #AA28A7;
}
